body {
  font-weight: 400;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background: #f9f7fe;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 30px auto;
  background: linear-gradient(
    360deg,
    rgb(245, 201, 149) 0%,
    rgb(196, 173, 204) 46%
  );
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 20%);
  padding: 32px;
  color: #878787;
}

.weather-app {
  line-height: 1.5;
}
.weather-app form {
  margin-top: 20px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.col-9,
.col-3,
.col-6 {
  padding-right: 15px;
  padding-left: 15px;
}

.form-control {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;

  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.search-button {
  background-color: rgba(136, 93, 241);
  color: #f9f7fe;
  height: 50px;
  line-height: 20px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid rgb(196, 173, 204);
}

.d-flex {
  display: flex !important;
  flex-wrap: wrap;
}

img {
  margin: 0px 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-top: -15px;
  align-items: center;
}

.overview {
  padding-top: 30px;
  color: rgba(39, 33, 66, 0.4);
}
h1 {
  color: black;
}

ul {
  list-style: none;
  padding-left: 0px;
  font-size: 15px;
}


.description,
.date, .humidity, .wind {
  color: rgba(136, 93, 241);
}
.temperature {
  color: #212121;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  padding-right: 0;
}

.weather-app .unit {
  color: #212121;

  font-size: 23px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -42px;
}

.weather-forecast {
  margin-top: 40px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
  text-align: center;
}

.weather-forecast .forecast-time {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

.forecast-temperature-max,
.forecast-temperature-min {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.forecast-temperature-max {
  color: rgba(136, 93, 241);
}

.forecast-temperature-min {
  color: rgba(136, 93, 241, 0.6);
}
.footer {
  margin-top: 30px;
  text-align: center;
}

a, .myname {
  color: #885df1;
  text-decoration: none;
}

a:hover {
  color: #ec6e4b;
  
}
